---
layout: base
---
{% assign latestPost = site.posts | first %}
<article>
  <h4>Latest Post</h4>
  <a href="{{ latestPost.url }}">
    <h1>{{ latestPost.title }}</h1>
  </a>
  {{ latestPost.excerpt }}
</article>
<a href="{{ latestPost.url }}">Read More</a>
<h4 class="mt-8">Recent Posts</h4>
{% assign recentPosts = site.posts | slice:1,5 %}
{% for post in recentPosts %}
<article>
  <a href="{{ post.url }}">
    <h2>{{ post.title }}</h2>
  </a>
  {{ post.excerpt }}
</article>
<a href="{{ post.url }}">Read More</a>
{% endfor %}