---
layout: base
---
<article>
  <figure>
    <img width="180px" height="180px" src="{{ page.hero }}" />
  </figure>
  <h1 class="mb-2 align-middle">{{ page.title }}</h1>
  <h6 class="mb-4 align-middle">{{ page.subtitle }}</h6>
  <hr />
  <p style="font-size: 3rem; text-align: center; font-family: Cardo;"><i><time datetime="{{ page.date }}">
    {% if page.dateString %}
      {{ page.dateString }}
    {% else %}
      {{ page.date | date: "%B %-d, %Y" }}
    {% endif %}
    {% if page.isTranslation %}
      <span> | </span><span>{{ page.translatedTo }} </span><a href="{{ page.translatorLink }}" target="_blank">{{ page.translatorName }}</a>
    {% endif %} 
  </time></i></p>
  {% if page.translations %}
  <div class="translation-icons">
    <a class="ma-1" href="/{{ page.permalink }}">
      <img src="/public/svg/icons/en-us.svg" width="20" />
    </a>
    {% for language in page.translations %}
    <a class="ma-1" href="/{{ page.permalink }}-{{language}}">
        <img src="/public/svg/icons/{{language}}.svg" width="20" />
      </a>
    {% endfor %}
  </div>
  {% elsif page.isTranslation %}
  <p style="font-family: Cardo; margin-bottom: 4rem; text-align: center;">
    <a href="{{page.translatedOriginal}}">Original</a>
  </p>
  {% else %}
  <p style="font-family: Cardo; margin-bottom: 4rem; text-align: center;">~</p>
  {% endif %}
  {{ content }}
</article>
{% if page.comments %}
<div id="disqus_thread"></div>
{% endif %}

