---
layout: base
---
<article>
  <figure>
    <img width="180px" height="180px" src="{{ page.hero }}" />
  </figure>
  <h1 class="mb-2 align-middle">{{ page.title }}</h1>
  <h6 class="mb-4 align-middle">{{ page.subtitle }}</h6>
  <hr />
  <p style="font-size: 3rem; text-align: center; font-family: Cardo;"><i><time datetime="{{ page.date }}">
    {% if page.dateString %}
      {{ page.dateString }}
    {% else %}
      {{ page.date | date: "%B %-d, %Y" }}
    {% endif %}
  </time></i></p>
  {% if page.translations and page.isTranslation != true %}
  <div class="translation-icons">
    {% for language in page.translations %}
    {% if language == 'en_US' %}
      <a class="ma-1" href="{{ page.permalink }}">
    {% else %}
      <a class="ma-1" href="{{ language }}{{ page.permalink }}">
    {% endif %}
        <img src="/public/svg/icons/lang-{{language}}.svg" width="20" />
      </a>
    {% endfor %}
  </div>
  {% endif %}
  <p style="font-family: Cardo; margin-bottom: 4rem; text-align: center;">~</p>
  {{ content }}
</article>
{% if page.comments %}
<div id="disqus_thread"></div>
{% endif %}

